<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">
    <title>SAJAS</title>
</head>
<body class="container">
    <div class="columns">
        <div class="column">
            <form action="">
                <textarea class="textarea" name="" id="" cols="30" rows="10"></textarea>
                <button class="button is-info">
                    redact
                </button>
            </form>

        </div>
        <div class="column">
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto neque veniam cumque molestiae rem id, maiores perferendis unde. Distinctio repellat officia blanditiis molestias illo vel commodi, nisi accusamus quas facilis.
            </p>
            <button class="button is-danger">
                copy
            </button>

        </div>
    </div>
</body>
</html>