<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">
    <title>SAJAS</title>
</head>
<body class="container">
    <div class="columns">
        <div class="column">
            <form id="inputform">
                <textarea class="textarea" name="" id="inputtext" cols="30" rows="10"></textarea>
                <button class="button is-info" type="submit" id="inputbutton">
                    redact
                </button>
            </form>

        </div>
        <div class="column">
            <p>
                {{redacted_text}}


            </p>
            <button class="button is-danger">
                copy
            </button>

        </div>
    </div>

<script>
    function submitForm(event){
        event.preventDefault()
        button.classList.add("is-loading")
        button.disabled = true
        var input = text.value

        window.location.href = `/redact?input=${input}`

    }
    var form = document.getElementById("inputform")
    var text = document.getElementById("inputtext")
    var button = document.getElementById("inputbutton")
    form.addEventListener("submit", submitForm)

</script>
    
</body>
</html>